@model IEnumerable<MealRater.Models.MealListItem>

@{
    ViewBag.Title = "Menu Items";
}

<h2>Menu Items</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
    }
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>Woohoo!</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-hover">
    <tr>
        <th>
            Menu #
        </th>
        <th>
            Menu Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealName)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.MealDescription)
        </td>
        <td style="width: 30%">         
            @if (User.IsInRole("Admin"))
            {
                

                    @Html.ActionLink("Edit", "Edit", new { id = item.MealID }, new { @class = "btn btn-outline-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.MealID }, new { @class = "btn btn-outline-primary" }) 
                
            }
            @Html.ActionLink("Details", "Details", new { id = item.MealID }, new { @class = "btn btn-outline-primary" }) 
        </td>
    </tr>
    }

</table>
