@model IEnumerable<MealRater.Models.VoteListItem>

@{
    ViewBag.Title = "Votes";
}

<h2>Votes</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Vote #
        </th>
        <th>
            Menu #
        </th>
        <th>
            Menu Name
        </th>
        <th>
            Score 1-10
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VoteID }, new { @class = "btn btn-outline-primary" }) 
                @Html.ActionLink("Details", "Details", new { id = item.VoteID }, new { @class = "btn btn-outline-primary" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.VoteID }, new { @class = "btn btn-outline-primary" })
            </td>
        </tr>
    }

</table>
